
/* THIS IS MY STYLESHEET (e.g. "assets/styles/my-style.css") */

h1 {
    font-size:48px;
    color: red;
  }
  
  p {
    font-family: monospace;
    color: '#ccc';
  }
  
  div#my-divider {
    border: 2px solid #000;
    height: 300px;
    width: 300px;
  }
  
  ol { list-style:none; }
  
  li.horizontal { display: inline; }
  
  .bottom { color:red; }
  
  